.b1 {
    font-size: 16px;
    border: 10px solid rgb(169, 169, 169, 0.500);
    border-radius: 17px;
    width: 370px;
    height: 346px;
    background: rgb(255, 255, 255, 0.050);

}

#text1 {
    font-size: 42px;
}

#text2 {
    font-size: 24px;
}

#link1 {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

#link2 {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

#link3 {
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
}

.box {
    background: rgb(255, 255, 255, 0.050);
    border: 5px solid rgb(169, 169, 169, 0.500);
    border-radius: 100px;
    width: auto;
    height: auto;
    margin: 25px;
}

.container1 {
    display: list-item;
    justify-content: center;
    list-style-type: none;
}