<!DOCTYPE HTML>
<html lang="en" style="font-family: montserrat;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <title>LTH - Account Settings</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}"><b>HOME</b></a></li>
                <li><a href="{{ url_for('profile') }}"><b>PROFILE</b></a></li>
                <li><a href="{{ url_for('logout') }}"><b>LOGOUT</b></a></li>
            </ul>
        </nav>
    </header>
    <main class="account-settings">
        <form method="POST">
            <h2>Account Settings</h2>
            <label for="email">Change Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>
            <label for="password">Change Password:</label>
            <input type="password" id="password" name="password" placeholder="New Password" required>
            <button type="submit">Update</button>
        </form>
    </main>
</body>
</html>
