<!DOCTYPE HTML>
<html lang="en" style="font-family: montserrat;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
    <title>LTH - Profile</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}"><b>HOME</b></a></li>
                <li><a href="{{ url_for('account_settings') }}"><b>ACCOUNT SETTINGS</b></a></li>
                <li><a href="{{ url_for('logout') }}"><b>LOGOUT</b></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="profile-container">
            <div class="profile-picture">
                {% if user.profile_pic %}
                    <img src="{{ url_for('static', filename='uploads/' + user.profile_pic) }}" alt="Profile Picture">
                {% else %}
                    <img src="{{ url_for('static', filename='logo.ico') }}" alt="Default Profile Picture">
                {% endif %}
            </div>
            <h2>{{ user.username }}</h2>
            <h3>{{ user.email }}</h3>
            <p>{{ user.bio | safe }}</p>
            <p><strong>Session Time:</strong> {{ (datetime.utcnow() - user.session_start) if user.session_start else "Not currently logged in" }}</p>
            <p><strong>Total Time:</strong> {{ user.total_time }}</p>
        </div>
    </main>
</body>
</html>
