/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

/* Navbar styles */
.navbar {
    background-color: rgba(51, 51, 51, 0); /* Transparent background */
    border-bottom: 1px solid white; /* Thin white bottom border */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(221, 221, 221, 0.5);
    color: black;
    border-radius: 5px;
}