/* Title */
.title {
    border: 0.2em solid rgba(169, 169, 169, 0.25);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.title1 {
    font-size: 4em;
    text-align: center;
    margin: 0em;
}

/* First Box */
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    border: 0.2em solid rgba(169, 169, 169, 0.25);
    background: rgba(255, 255, 255, 0.10);
    border-radius: 3em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.text1 {
    font-size: 2.5em;
    text-align: center;
}

.image1 {

}

/*  */