.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 15px;
    row-gap: 15px;
}

.box {
    width: 800px;
    height: 800px;
    text-align: center;
    border-radius: 20px;
    border: 7px solid rgba(169, 169, 169, 0.250);
    background: rgba(255, 255, 255, 0.050);
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    border: 7px solid rgba(169, 169, 169, 0.250);
    background: rgba(255, 255, 255, 0.050);
    border-radius: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

p {
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
}

#pics1 {
    padding: 10px;
}

#pics2 {
    padding: 10px;
}