body {
    background-image: image-set(
    '../background/fullback_1.low.webp' 1x,
    '../background/fullback_1.webp' 2x
  );
    background-size: cover;
    margin: 0px;
  }

main {
  padding-top: 1vh;
  min-height: auto;
  color: white;
  
} 

@media (min-width: 375px) {
  p {
    font-size: 1.25em;
  }
}