body {
    background-image: image-set(
    '../background/fullback_1.low.webp' 1x,
    '../background/fullback_1.webp' 2x
  );
    background-size: cover;
    margin: 0px;
  }

main {
  background-image: image-set(
    '../background/fullback_2.1.low.webp' 1x,
    '../background/fullback_2.1.webp' 2x
  );
  background-size: cover;
  background-repeat:repeat;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: white;
  font-size: 25px;
} 