body {
    background-image: url(../background/fullback_1.png);
    background-size: cover;
    margin: 0px;
  }

main {
  background-image: url(../background/fullback_2.1.png);
  background-repeat:repeat-y;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: white;
  font-size: 25px;
} 