main {
    text-align: center;
}

.info-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin: 10px;
    display: flex;
    width: 850px;
    border-radius: 50px;
    border: 5px solid rgba(169, 169, 169, 0.250);
    background-color: rgba(255, 255, 255, 0.050);
}

.box img {
    width: auto;
    height: 100%;
    margin-right: 100px;;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}