main {
    text-align: center;
}

.flexbox {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: 7px solid rgba(169, 169, 169, 0.250);
    background: rgba(255, 255, 255, 0.050);
    border-radius: 50px;
}

.flexbox2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexboxp2 {
    max-width: 800px;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }

.box {
    width: 600px;
    height: 300px;
    border-radius: 50px;
    border: 7px solid rgba(169, 169, 169, 0.250);
    background: rgba(255, 255, 255, 0.050);
}

.title {
    height:20%;
    width:99.3%;
}

.details {
    height:80%;
    width:100%;
    font-size: 18px;
}