.logo {
    margin: 5px;
    text-decoration: none;
}

.nav {
    width: auto;
    margin: auto;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 850px;
    margin-right: 850px;
    overflow: hidden;
    font-size: 12px;
}

.navbar a {
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}

.logo {
    width: 35px;
}

.nav img {
    height: 80px;
}